<header>
  <nav class="header-nav">
    <a class="header-title" href="/home">Guitarfy</a>
    <ul>
      <li><a href="/brands">Brands</a></li>
      <li><a href="/brands/new">Add Brand</a></li>
      <li><a href="/guitars">Guitars</a></li>
      <li><a href="/guitars/new">Add Guitar</a></li>
    </ul>
  </nav>
</header>
