<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
      integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
      integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw=="
      *
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <script defer src="/javascripts/hamburger.js"></script>
    <link rel="stylesheet" href="/stylesheets/portal.css" />
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Guitarfy</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/_header.ejs') %>
      <div class="inner-container">
        <%- include('../partials/errorMessage.ejs') %> <%- body %>
      </div>
    </div>
  </body>
</html>
