<h2>Recently Added</h2>
<div>
  <% guitars.forEach(guitar => { %>
  <a href="/guitars/<%= guitar.id %>">
    <img height="150" width="100" src="<%= guitar.modelImagePath %>" alt="" />
  </a>
  <%})%>
</div>
