<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/portal.css" />
    <title>Guitarfy - Portal</title>
  </head>
  <body>
    <header>
      <nav>
        <h3 id="logo">Guitarfy</h3>
        <svg
          class="menu"
          width="43"
          height="23"
          viewBox="0 0 43 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            y1="1.5"
            x2="43"
            y2="1.5"
            stroke="white"
            stroke-width="3"
            style="stroke: rgb(255, 255, 255)"
          ></line>
          <line
            y1="11.5"
            x2="28"
            y2="11.5"
            stroke="white"
            stroke-width="3"
            style="stroke: rgb(255, 255, 255)"
          ></line>
          <line
            y1="21.5"
            x2="16"
            y2="21.5"
            stroke="white"
            stroke-width="3"
            style="stroke: rgb(255, 255, 255)"
          ></line>
        </svg>
        <div class="nav-open">
          <div class="contact">
            <h3>Contact</h3>
            <p>55-75-33-37</p>
          </div>
          <div class="social">
            <h3>Social</h3>
            <div class="social-links"></div>
            <img src="./img/Facebook.svg" alt="Facebook" />
            <img src="./img/Instagram.svg" alt="Instagram" />
            <img src="./img/Twitter.svg" alt="Twitter" />
          </div>
        </div>
      </nav>
      <section>
        <div class="hero">
          <img
            src="/img/parker-coffman-GgsG8aNLgjQ-unsplash.jpg"
            alt="guitar"
          />
          <a class="headline" href="/home">Guitarfy Center</a>
        </div>
      </section>
    </header>

    <div class="slider"></div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
      integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
      integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw=="
      *
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/portal.js"></script>
  </body>
</html>
