<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/portal.css" />
    <title>Guitarfy - Portal</title>
  </head>
  <body>
    <header>
      <nav>
        <h3 id="logo">&copy; gharbimedaziz_</h3>
        <%- include('partials/_hamburger') %>
      </nav>
      <section>
        <div class="hero">
          <img
            src="/img/parker-coffman-GgsG8aNLgjQ-unsplash.jpg"
            alt="guitar"
          />
          <a class="headline" href="/home">Guitarfy Center</a>
        </div>
      </section>
    </header>

    <div class="slider"></div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
      integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
      integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw=="
      *
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/portal.js"></script>
  </body>
</html>
