:root {
  --form-label-font-size: 1.2rem;
  --form-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
  --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
  --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);
}

.form-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item-no-grow {
  flex-grow: 0;
}

.form-item:first-child {
  margin-left: 0;
}

.form-item > label {
  font-size: var(--form-label-font-size);
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.form-row-end {
  justify-content: flex-end;
}

.form-item input,
.form-item select,
.form-item textarea {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--form-input-border-color);
  background-color: var(--form-input-background-color);
  color: var(--color-text-light);
  font-size: 1rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.form-item textarea {
  height: 100%;
  resize: none;
}

.form-item select option {
  background-color: black;
}

.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus {
  border-color: var(--form-input-border-color-light);
}

.filepond--root {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

.filepond--panel-root {
  background-color: var(--form-input-background-color);
  border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label {
  color: var(--color-text-light);
  font-size: inherit;
}

.form-auth {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: var(--color-text-light);
}

.form-auth h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.form-auth label {
  color: black;
}

.form-auth-title {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
  z-index: 2;
}

.btn-auth {
  border: 1px solid var(--color-border-button);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-auth-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-auth a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.error {
  color: hsl(var(--color-danger-hue), 100%, 50%);
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
