<h2 class="page-header">Edit Brand</h2>

<form action="/brands/<%= brand.id %>?_method=PUT" method="POST">
  <%- include('./_formFields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/brands/<%= brand.id  %>">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
