<h2 class="page-header">Edit Brand</h2>

<form action="/brands/<%= brand.id %>?_method=PUT" method="POST">
  <%- include('./_formFields') %>
  <a href="/brands/<%= brand.id  %>">Cancel</a>
  <button type="submit">Update</button>
</form>
