<h2 class="page-header">New Brand</h2>

<form action="/brands" method="POST">
  <%- include('./_formFields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/brands">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
