<h2 class="page-header"><%= brand.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/brands/<%= brand.id %>/edit">Edit</a>
  <%- include('../partials/_deleteForm', {url: `/brands/${brand.id}`}) %>
</div>
<% if(guitarsByBrand.length > 0){ %>
<h2 class="page-header">Guitars by Brand</h2>
<%- include('../partials/guitarGrid', {guitars : guitarsByBrand}) %> <% } %>
